:root {
    --main-color: #06b6d4;
    --accent-color: #22c55e;
    --main-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --accent-font-color: #4b5563;
    --padding: 18px;
    --background: #e2e8f0;
    --foreground: #ffffff;
}

body {
    margin: 0;
    font-family: var(--main-font);
}

.main-container {
    display:grid;
    grid-template-rows: 160px auto auto;
    grid-template-columns: clamp(100px, 20%, 300px) 1fr 300px;
    min-height: 100vh;
}

.main-container > * {
    background-color: var(--background);
}

.sidebar {
    grid-area: 1 / 1 / -1 / 2;
    background-color: var(--main-color);
}

.heading-container {
    display:grid;
    grid-column: 2 / -1;
    grid-template-rows: 70px 90px;
}

.top-bar {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    grid-template-rows: 100%;
    align-content: center;
    align-items: center;
    padding: 12px 32px;
    background-color: var(--foreground);
    column-gap:24px;
}

.top-bar > input {
    max-width: 800px;
    border-style: none;
    border-radius: 14px;
    background-color: var(--background);
    height: 60%;
}

.top-bar > img {
    height: 50%;
}

.top-bar > img:last-of-type {
    height: 90%;
}

.top-bar p {
    font-weight: 800;
    margin: 0;
    font-size: 1.1rem;
}

.header {
    background-color: var(--foreground);
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    grid-template-rows: 100%;
    align-items: center;
    padding: 12px 32px;
    column-gap: 24px;
}

.header > img {
    height: 100%;
}

.header > div > p:first-child {
    font-size: 0.8rem;
    margin-bottom: 2px;
}

.header > div > p {
    font-weight: 700;
    margin:0;
    font-size: 1.3rem;
}

.header > button {
    padding: 12px 36px;
    border-style: none;
    border-radius: 24px;
    background-color: var(--main-color);
    color: var(--foreground);
    font-weight: 800;
}

.content {
    grid-area: 2 / 2 / -1 / -2;
}

.announcements {
    padding: var(--padding);
}

.announcements-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: var(--padding);
    background-color: var(--foreground);
    border-radius: 12px;
}

.announcements-grid > div:nth-child(2) {
    border-bottom: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;
}

.announcements-grid > div {
    padding: 12px 0;
}

.announcements-title {
    font-size: 1rem;
    font-weight: 600;
    margin: 0 0 0.1rem 0;
}
.announcements-text {
    color: var(--accent-font-color);
    font-size: 0.9rem;
    margin: 0;
}

.trending {
    grid-column: -2 / -1;
    padding: var(--padding);
}

.title-text {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0 0 12px 0;
}

.trending-grid{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: max(1rem, 8px);
    background-color: var(--foreground);
    border-radius: 12px;
    padding: var(--padding);
    
}

.trending-grid > div {
    display: grid;
    grid-template: 1fr 1fr / 20% 1fr;
    align-content: center;
    gap: 4px 19px;
}

.trending-grid > div > img {
    width: 100%;
    grid-row: 1 / 3;
    align-self: center;
}

.trending-name {
    align-self: end;
    margin: 0;
    font-weight: 600;
}

.trending-description {
    margin: 0;
    color: var(--accent-font-color);
    font-size: 0.9rem;
}

.shadow {
    box-shadow: 0px 7px 10px #cfcfcf;
}