:root {
    --main-color: #06b6d4;
    --accent-color: #22c55e;
    --main-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --accent-font-color: #4b5563;
    --padding: 16px;
}

body {
    margin: 0;
    font-family: var(--main-font);
}

.main-container {
    display:grid;
    grid-template-rows: 40px 60px auto auto;
    grid-template-columns: clamp(100px, 20%, 300px) 1fr 300px;
    min-height: 100vh;
}

.main-container > * {
    background-color: #f1f7ff;
}

.sidebar {
    grid-area: 1 / 1 / -1 / 2;
    background-color: var(--main-color);
}

.top-bar {
    background-color: #22c55e;
    grid-column: 2 / -1;
}

.header {
    background-color: #41e7a2;
    grid-column: 2 / -1;
}

.content {
    background-color: #06d47e;
    grid-area: 3 / 2 / -1 / -2;
}

.announcements {
    padding: var(--padding);
}

.announcements-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: var(--padding);
    background-color: #ffffff;
    border-radius: 12px;
}

.announcements-grid > div:nth-child(2) {
    border-bottom: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;
}

.announcements-grid > div {
    padding: 12px 0;
}

.announcements-title {
    font-size: 1rem;
    font-weight: 600;
    margin: 0 0 0.1rem 0;
}
.announcements-text {
    color: var(--accent-font-color);
    font-size: 0.9rem;
    margin: 0;
}

.trending {
    grid-column: -2 / -1;
    padding: var(--padding);
}

.title-text {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0 0 12px 0;
}

.trending-grid{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: max(1rem, 8px);
    background-color: #ffffff;
    border-radius: 12px;
    padding: var(--padding);
    
}

.trending-grid > div {
    display: grid;
    grid-template: 1fr 1fr / 20% 1fr;
    align-content: center;
    gap: 4px 19px;
}

.trending-grid > div > img {
    width: 100%;
    grid-row: 1 / 3;
    align-self: center;
}

.trending-name {
    align-self: end;
    margin: 0;
    font-weight: 600;
}

.trending-description {
    margin: 0;
    color: var(--accent-font-color)
}

.header > div > img,
.top-bar > img {
    width: 50px;
}